@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-zXbyF_C56YVG_font-family: "Inter";
  --mixin-zXbyF_C56YVG_font-size: 16px;
  --mixin-zXbyF_C56YVG_font-weight: 400;
  --mixin-zXbyF_C56YVG_font-style: normal;
  --mixin-zXbyF_C56YVG_color: #535353;
  --mixin-zXbyF_C56YVG_text-align: left;
  --mixin-zXbyF_C56YVG_text-transform: none;
  --mixin-zXbyF_C56YVG_line-height: 1.5;
  --mixin-zXbyF_C56YVG_letter-spacing: normal;
  --mixin-zXbyF_C56YVG_white-space: pre-wrap;
  --mixin-zXbyF_C56YVG_user-select: text;
  --mixin-zXbyF_C56YVG_text-decoration-line: none;
  --mixin-zXbyF_C56YVG_text-overflow: clip;
  --mixin-F5PI8bqS0mBV_color: #000000;
  --mixin-F5PI8bqS0mBV_font-weight: 900;
  --mixin-F5PI8bqS0mBV_font-size: 72px;
  --mixin-F5PI8bqS0mBV_line-height: 1;
  --mixin-F5PI8bqS0mBV_letter-spacing: -4px;
  --mixin-F5PI8bqS0mBV_white-space: pre-wrap;
  --mixin-VdWMdZ0x-lZf_font-family: "Inter";
  --mixin-VdWMdZ0x-lZf_color: #000000;
  --mixin-VdWMdZ0x-lZf_font-size: 48px;
  --mixin-VdWMdZ0x-lZf_font-weight: 700;
  --mixin-VdWMdZ0x-lZf_letter-spacing: -1px;
  --mixin-VdWMdZ0x-lZf_line-height: 1.1;
  --mixin-VdWMdZ0x-lZf_white-space: pre-wrap;
  --mixin-u0SSRt3hZh7l_color: #0070f3;
  --mixin-u0SSRt3hZh7l_white-space: pre-wrap;
  --mixin-dZQRFkyTyxfK_font-family: "Inter";
  --mixin-dZQRFkyTyxfK_color: #000000;
  --mixin-dZQRFkyTyxfK_font-size: 32px;
  --mixin-dZQRFkyTyxfK_font-weight: 600;
  --mixin-dZQRFkyTyxfK_letter-spacing: -0.8px;
  --mixin-dZQRFkyTyxfK_line-height: 1.2;
  --mixin-dZQRFkyTyxfK_white-space: pre-wrap;
  --mixin-2TydmnuK8xWL_font-family: "Inter";
  --mixin-2TydmnuK8xWL_color: #000000;
  --mixin-2TydmnuK8xWL_font-size: 24px;
  --mixin-2TydmnuK8xWL_font-weight: 600;
  --mixin-2TydmnuK8xWL_letter-spacing: -0.5px;
  --mixin-2TydmnuK8xWL_line-height: 1.3;
  --mixin-2TydmnuK8xWL_white-space: pre-wrap;
  --mixin-OT5L9PxwKbDS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OT5L9PxwKbDS_border-bottom-color: #dddddd;
  --mixin-OT5L9PxwKbDS_border-bottom-style: solid;
  --mixin-OT5L9PxwKbDS_border-bottom-width: 1px;
  --mixin-OT5L9PxwKbDS_border-left-color: #dddddd;
  --mixin-OT5L9PxwKbDS_border-left-style: solid;
  --mixin-OT5L9PxwKbDS_border-left-width: 1px;
  --mixin-OT5L9PxwKbDS_border-right-color: #dddddd;
  --mixin-OT5L9PxwKbDS_border-right-style: solid;
  --mixin-OT5L9PxwKbDS_border-right-width: 1px;
  --mixin-OT5L9PxwKbDS_border-top-color: #dddddd;
  --mixin-OT5L9PxwKbDS_border-top-style: solid;
  --mixin-OT5L9PxwKbDS_border-top-width: 1px;
  --mixin-OT5L9PxwKbDS_border-bottom-left-radius: 3px;
  --mixin-OT5L9PxwKbDS_border-bottom-right-radius: 3px;
  --mixin-OT5L9PxwKbDS_border-top-left-radius: 3px;
  --mixin-OT5L9PxwKbDS_border-top-right-radius: 3px;
  --mixin-OT5L9PxwKbDS_font-family: "Inconsolata";
  --mixin-OT5L9PxwKbDS_padding-bottom: 1px;
  --mixin-OT5L9PxwKbDS_padding-left: 4px;
  --mixin-OT5L9PxwKbDS_padding-right: 4px;
  --mixin-OT5L9PxwKbDS_padding-top: 1px;
  --mixin-OT5L9PxwKbDS_white-space: pre-wrap;
  --mixin-DL1giPytyIcW_border-left-color: #dddddd;
  --mixin-DL1giPytyIcW_border-left-style: solid;
  --mixin-DL1giPytyIcW_border-left-width: 3px;
  --mixin-DL1giPytyIcW_color: #888888;
  --mixin-DL1giPytyIcW_padding-left: 10px;
  --mixin-DL1giPytyIcW_white-space: pre-wrap;
  --mixin-5TECbOpVJNRk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5TECbOpVJNRk_border-bottom-color: #dddddd;
  --mixin-5TECbOpVJNRk_border-bottom-style: solid;
  --mixin-5TECbOpVJNRk_border-bottom-width: 1px;
  --mixin-5TECbOpVJNRk_border-left-color: #dddddd;
  --mixin-5TECbOpVJNRk_border-left-style: solid;
  --mixin-5TECbOpVJNRk_border-left-width: 1px;
  --mixin-5TECbOpVJNRk_border-right-color: #dddddd;
  --mixin-5TECbOpVJNRk_border-right-style: solid;
  --mixin-5TECbOpVJNRk_border-right-width: 1px;
  --mixin-5TECbOpVJNRk_border-top-color: #dddddd;
  --mixin-5TECbOpVJNRk_border-top-style: solid;
  --mixin-5TECbOpVJNRk_border-top-width: 1px;
  --mixin-5TECbOpVJNRk_border-bottom-left-radius: 3px;
  --mixin-5TECbOpVJNRk_border-bottom-right-radius: 3px;
  --mixin-5TECbOpVJNRk_border-top-left-radius: 3px;
  --mixin-5TECbOpVJNRk_border-top-right-radius: 3px;
  --mixin-5TECbOpVJNRk_font-family: "Inconsolata";
  --mixin-5TECbOpVJNRk_padding-bottom: 3px;
  --mixin-5TECbOpVJNRk_padding-left: 6px;
  --mixin-5TECbOpVJNRk_padding-right: 6px;
  --mixin-5TECbOpVJNRk_padding-top: 3px;
  --mixin-5TECbOpVJNRk_white-space: pre-wrap;
  --mixin-HAAh5Btjx7eW_display: flex;
  --mixin-HAAh5Btjx7eW_flex-direction: column;
  --mixin-HAAh5Btjx7eW_align-items: stretch;
  --mixin-HAAh5Btjx7eW_justify-content: flex-start;
  --mixin-HAAh5Btjx7eW_list-style-position: outside;
  --mixin-HAAh5Btjx7eW_padding-left: 40px;
  --mixin-HAAh5Btjx7eW_position: relative;
  --mixin-HAAh5Btjx7eW_list-style-type: disc;
  --mixin-HAAh5Btjx7eW_white-space: pre-wrap;
  --mixin-pnbRkS9BctfiA_display: flex;
  --mixin-pnbRkS9BctfiA_flex-direction: column;
  --mixin-pnbRkS9BctfiA_align-items: stretch;
  --mixin-pnbRkS9BctfiA_justify-content: flex-start;
  --mixin-pnbRkS9BctfiA_list-style-position: outside;
  --mixin-pnbRkS9BctfiA_padding-left: 40px;
  --mixin-pnbRkS9BctfiA_position: relative;
  --mixin-pnbRkS9BctfiA_list-style-type: decimal;
  --mixin-pnbRkS9BctfiA_white-space: pre-wrap;
  --mixin-A3LP4kuilyPRM_font-family: "Inter";
  --mixin-A3LP4kuilyPRM_color: #000000;
  --mixin-A3LP4kuilyPRM_font-size: 20px;
  --mixin-A3LP4kuilyPRM_font-weight: 600;
  --mixin-A3LP4kuilyPRM_letter-spacing: -0.3px;
  --mixin-A3LP4kuilyPRM_line-height: 1.5;
  --mixin-A3LP4kuilyPRM_white-space: pre-wrap;
  --mixin-h8nes83NoKkrB_font-family: "Inter";
  --mixin-h8nes83NoKkrB_color: #000000;
  --mixin-h8nes83NoKkrB_font-size: 16px;
  --mixin-h8nes83NoKkrB_font-weight: 600;
  --mixin-h8nes83NoKkrB_line-height: 1.5;
  --mixin-h8nes83NoKkrB_white-space: pre-wrap;
  --mixin-QE3s84MkNOjNv_color: #3291ff;
  --mixin-QE3s84MkNOjNv_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-zXbyF_C56YVG_font-family);
  font-size: var(--mixin-zXbyF_C56YVG_font-size);
  font-weight: var(--mixin-zXbyF_C56YVG_font-weight);
  font-style: var(--mixin-zXbyF_C56YVG_font-style);
  color: var(--mixin-zXbyF_C56YVG_color);
  text-align: var(--mixin-zXbyF_C56YVG_text-align);
  text-transform: var(--mixin-zXbyF_C56YVG_text-transform);
  line-height: var(--mixin-zXbyF_C56YVG_line-height);
  letter-spacing: var(--mixin-zXbyF_C56YVG_letter-spacing);
  white-space: var(--mixin-zXbyF_C56YVG_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-F5PI8bqS0mBV_color);
  font-weight: var(--mixin-F5PI8bqS0mBV_font-weight);
  font-size: var(--mixin-F5PI8bqS0mBV_font-size);
  line-height: var(--mixin-F5PI8bqS0mBV_line-height);
  letter-spacing: var(--mixin-F5PI8bqS0mBV_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-VdWMdZ0x-lZf_font-family);
  color: var(--mixin-VdWMdZ0x-lZf_color);
  font-size: var(--mixin-VdWMdZ0x-lZf_font-size);
  font-weight: var(--mixin-VdWMdZ0x-lZf_font-weight);
  letter-spacing: var(--mixin-VdWMdZ0x-lZf_letter-spacing);
  line-height: var(--mixin-VdWMdZ0x-lZf_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-u0SSRt3hZh7l_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-dZQRFkyTyxfK_font-family);
  color: var(--mixin-dZQRFkyTyxfK_color);
  font-size: var(--mixin-dZQRFkyTyxfK_font-size);
  font-weight: var(--mixin-dZQRFkyTyxfK_font-weight);
  letter-spacing: var(--mixin-dZQRFkyTyxfK_letter-spacing);
  line-height: var(--mixin-dZQRFkyTyxfK_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-2TydmnuK8xWL_font-family);
  color: var(--mixin-2TydmnuK8xWL_color);
  font-size: var(--mixin-2TydmnuK8xWL_font-size);
  font-weight: var(--mixin-2TydmnuK8xWL_font-weight);
  letter-spacing: var(--mixin-2TydmnuK8xWL_letter-spacing);
  line-height: var(--mixin-2TydmnuK8xWL_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-OT5L9PxwKbDS_background);
  font-family: var(--mixin-OT5L9PxwKbDS_font-family);
  border-radius: var(--mixin-OT5L9PxwKbDS_border-top-left-radius)
    var(--mixin-OT5L9PxwKbDS_border-top-right-radius)
    var(--mixin-OT5L9PxwKbDS_border-bottom-right-radius)
    var(--mixin-OT5L9PxwKbDS_border-bottom-left-radius);
  padding: var(--mixin-OT5L9PxwKbDS_padding-top)
    var(--mixin-OT5L9PxwKbDS_padding-right)
    var(--mixin-OT5L9PxwKbDS_padding-bottom)
    var(--mixin-OT5L9PxwKbDS_padding-left);
  border-top: var(--mixin-OT5L9PxwKbDS_border-top-width)
    var(--mixin-OT5L9PxwKbDS_border-top-style)
    var(--mixin-OT5L9PxwKbDS_border-top-color);
  border-right: var(--mixin-OT5L9PxwKbDS_border-right-width)
    var(--mixin-OT5L9PxwKbDS_border-right-style)
    var(--mixin-OT5L9PxwKbDS_border-right-color);
  border-bottom: var(--mixin-OT5L9PxwKbDS_border-bottom-width)
    var(--mixin-OT5L9PxwKbDS_border-bottom-style)
    var(--mixin-OT5L9PxwKbDS_border-bottom-color);
  border-left: var(--mixin-OT5L9PxwKbDS_border-left-width)
    var(--mixin-OT5L9PxwKbDS_border-left-style)
    var(--mixin-OT5L9PxwKbDS_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-DL1giPytyIcW_color);
  padding-left: var(--mixin-DL1giPytyIcW_padding-left);
  border-left: var(--mixin-DL1giPytyIcW_border-left-width)
    var(--mixin-DL1giPytyIcW_border-left-style)
    var(--mixin-DL1giPytyIcW_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-5TECbOpVJNRk_background);
  font-family: var(--mixin-5TECbOpVJNRk_font-family);
  border-radius: var(--mixin-5TECbOpVJNRk_border-top-left-radius)
    var(--mixin-5TECbOpVJNRk_border-top-right-radius)
    var(--mixin-5TECbOpVJNRk_border-bottom-right-radius)
    var(--mixin-5TECbOpVJNRk_border-bottom-left-radius);
  padding: var(--mixin-5TECbOpVJNRk_padding-top)
    var(--mixin-5TECbOpVJNRk_padding-right)
    var(--mixin-5TECbOpVJNRk_padding-bottom)
    var(--mixin-5TECbOpVJNRk_padding-left);
  border-top: var(--mixin-5TECbOpVJNRk_border-top-width)
    var(--mixin-5TECbOpVJNRk_border-top-style)
    var(--mixin-5TECbOpVJNRk_border-top-color);
  border-right: var(--mixin-5TECbOpVJNRk_border-right-width)
    var(--mixin-5TECbOpVJNRk_border-right-style)
    var(--mixin-5TECbOpVJNRk_border-right-color);
  border-bottom: var(--mixin-5TECbOpVJNRk_border-bottom-width)
    var(--mixin-5TECbOpVJNRk_border-bottom-style)
    var(--mixin-5TECbOpVJNRk_border-bottom-color);
  border-left: var(--mixin-5TECbOpVJNRk_border-left-width)
    var(--mixin-5TECbOpVJNRk_border-left-style)
    var(--mixin-5TECbOpVJNRk_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-HAAh5Btjx7eW_display);
  flex-direction: var(--mixin-HAAh5Btjx7eW_flex-direction);
  align-items: var(--mixin-HAAh5Btjx7eW_align-items);
  justify-content: var(--mixin-HAAh5Btjx7eW_justify-content);
  list-style-position: var(--mixin-HAAh5Btjx7eW_list-style-position);
  padding-left: var(--mixin-HAAh5Btjx7eW_padding-left);
  position: var(--mixin-HAAh5Btjx7eW_position);
  list-style-type: var(--mixin-HAAh5Btjx7eW_list-style-type);
  flex-column-gap: var(--mixin-HAAh5Btjx7eW_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-pnbRkS9BctfiA_display);
  flex-direction: var(--mixin-pnbRkS9BctfiA_flex-direction);
  align-items: var(--mixin-pnbRkS9BctfiA_align-items);
  justify-content: var(--mixin-pnbRkS9BctfiA_justify-content);
  list-style-position: var(--mixin-pnbRkS9BctfiA_list-style-position);
  padding-left: var(--mixin-pnbRkS9BctfiA_padding-left);
  position: var(--mixin-pnbRkS9BctfiA_position);
  list-style-type: var(--mixin-pnbRkS9BctfiA_list-style-type);
  flex-column-gap: var(--mixin-pnbRkS9BctfiA_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-A3LP4kuilyPRM_font-family);
  color: var(--mixin-A3LP4kuilyPRM_color);
  font-size: var(--mixin-A3LP4kuilyPRM_font-size);
  font-weight: var(--mixin-A3LP4kuilyPRM_font-weight);
  letter-spacing: var(--mixin-A3LP4kuilyPRM_letter-spacing);
  line-height: var(--mixin-A3LP4kuilyPRM_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-h8nes83NoKkrB_font-family);
  color: var(--mixin-h8nes83NoKkrB_color);
  font-size: var(--mixin-h8nes83NoKkrB_font-size);
  font-weight: var(--mixin-h8nes83NoKkrB_font-weight);
  line-height: var(--mixin-h8nes83NoKkrB_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-QE3s84MkNOjNv_color);
}
